{% extends 'core/base.html' %} {% block content %}
<h1>About Me</h1>
<p>
  Born and raised in Rio de Janeiro, I'm an undergraduate studiyng Computer
  Engineering
</p>

<p>
  For two years I was a part of Reptiles Baja, PUC's Baja team (if you don't
  know what is a Baja, and like cars/mechanics/engineering, I highly sugest you
  look it up). There, I mainly worked with microcontrolers and electrical
  systems. Also, as part of the racing team package, I ended up gaining
  experience in basic mechanical chores. On top of that, I developed my
  leadership and communication skills a lot during the time where I was team
  captain
</p>

<p>
  Right now (13/07/2025), I have experience in embedded systems, microcontrolers
  (Arduino, ESP32), and web development (Nuxt.js, Django). I am beggining to
  find out just how hard it is to find an internship when you decide to spend 2
  years of your university experience building an (insanely cool) offroad
  vehicle. This site is supposed to be a showcase of my skill, and a fun
  side-project to help express myself.
</p>

<p>
  Note that I am not a designer, and have little to no artistic skills other
  than a majorly flawed intuition. I will try to do as little css work as
  possible for this project to be visualy bearable
</p>

<p>You can find all the code for this in my github</p>

<p>
  I genuinely believe there's more to everything than anyone can begin to
  comprehend. That includes me.
</p>
{% endblock %}
