
{% extends 'core/base.html' %}
{% load static %}

{% block title %}Fun Game{% endblock %}

{% block content %}
<main class="page-wrapper">
  <h1>Fun Game</h1>
    <div class="fun-game-container">
	
    <div class="game-description">
<h3 id="high-score"></h3>

      <p>
	There are studies that show playing tetris can help in cases of psychological trauma. That being said, I found it apropriate to include in my website . It is one of my favourite games. 
      </p>
    </div>

    <div class="game-wrapper">
      <div id="score" class="score-overlay">Score: 0</div>
      <canvas id="fun_game" width="200" height="400"></canvas>
    </div>
  </div>
</main>
<script src="{% static 'js/fun_game.js' %}"></script>
{% endblock %}

