body {
  font-family: "JetBrains Mono";
  margin: 3rem;
  background-color: #232323;
  color: #cdc;
}

nav a {
  margin-bottom: 2rem;
  margin-right: 0.6rem;
  text-decoration: none;
  color: #0077cc;
}

p {
  text-align: justify;
}
